.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#333;
  padding: 30px 30px;
  direction: rtl;
}

.logo a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a {
  color: #ddd;
  text-decoration: none;
  margin-left: 40px;
  transition: 0.3s;
  position: relative;
  
}

/* אפקט underline יפה */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #00bcd4;
  bottom: -5px;
  right: 0;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #fff;
}

.nav-links a:hover::after {
  width: 100%;
}
#logo {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 50px;
  
  /* צבע גרדיאנט */
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: 1px;
  cursor: pointer;

  transition: all 0.3s ease;
}

/* אפקט מעבר עכבר */
.logo:hover {
  transform: scale(1.1);
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* ------ */
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e2f;
  padding: 15px 30px;
  color: white;
}

#logo {
  font-size: 50px;
  font-weight: bold;
  color: #4da6ff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #4da6ff;
}


.user-section {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #2a2a40;
  padding: 6px 12px;
  border-radius: 20px;
}

.user-name {
  font-weight: 500;
  font-size: 14px;
}


.login-btn {
  background: #4da6ff;
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
}

.login-btn:hover {
  background: #3399ff;
} 
